<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">
                <i class="fab fa-youtube" style="color: #FF0000; margin-right: 10px;"></i>YouTube Seminars
                <div class="heading-underline" style="width: 70px; height: 3px; background-color: #FF0000; margin: 10px auto 0;"></div>
            </div>
            <p class="section-subheading" style="text-align: center; margin-bottom: 30px; color: #ffffff; font-weight: bold;">Introduce Paper Review & Seminar</p>
            <div class="youtube-seminars-wrapper-stack">
                <!-- YouTube seminar videos - horizontal layout, vertical stack -->
                <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                            <a href="https://www.youtube.com/watch?v=Z9TsNJTHkSI" target="_blank" class="youtube-thumbnail-link">
                                <div class="youtube-thumbnail">
                                    <img src="https://img.youtube.com/vi/Z9TsNJTHkSI/maxresdefault.jpg" alt="OpenVLA: An Open-Source Vision-Language-Action Model">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #000000; font-weight: bold; margin-bottom: 8px;">OpenVLA: An Open-Source Vision-Language-Action Model</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> <span style="color: #000000;">March 15, 2024</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                            <a href="https://www.youtube.com/watch?v=Yg9wXwPAbCM" target="_blank" class="youtube-thumbnail-link">
                                <div class="youtube-thumbnail">
                                    <img src="https://img.youtube.com/vi/Yg9wXwPAbCM/maxresdefault.jpg" alt="PCTeacher: 3D Instance Segmentation">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #040404; font-weight: bold; margin-bottom: 8px;">End-to-End Semi-Supervised 3D Instance Segmentation</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> <span style="color: #000000;">February 22, 2024</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                                <a href="https://www.youtube.com/watch?v=NFO7GgWfZUw" target="_blank" class="youtube-thumbnail-link">
                                    <div class="youtube-thumbnail">
                                        <img src="https://img.youtube.com/vi/NFO7GgWfZUw/maxresdefault.jpg" alt="Hi Robot: Open-Ended Instruction Following with Hierarchical Vision-Language-Action Models">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #000000; font-weight: bold; margin-bottom: 8px;">Hi Robot: Open-Ended Instruction Following with Hierarchical Vision-Language-Action Models</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> <span style="color: #000000;">June 22, 2025</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="youtube-item-horizontal">
                    <div class="youtube-content-wrapper">
                        <div class="youtube-thumbnail-horizontal">
                            <a href="https://www.youtube.com/watch?v=Yg9wXwPAbCM" target="_blank" class="youtube-thumbnail-link">
                                <div class="youtube-thumbnail">
                                    <img src="https://img.youtube.com/vi/Yg9wXwPAbCM/maxresdefault.jpg" alt="PCTeacher: 3D Instance Segmentation">
                                    <div class="play-button-overlay">
                                        <span>▶</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="youtube-info">
                            <h3 class="paragraph-text" style="color: #000000; font-weight: bold; margin-bottom: 8px;">Latest Deep Learning Techniques for Robot Vision</h3>
                            <div class="youtube-meta">
                                <p class="youtube-date"><i class="far fa-calendar-alt" style="margin-right: 5px; color: #FF0000;"></i> <span style="color: #000000;">January 10, 2024</span></p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</div>